.bruja{
    width: 70px;
    height: auto;
    transform: translate(0px,50px);
    transform: skew(20deg);
}
.dragon {
        width: 100px;
        height: 100px;
        transition-property: width, height;
        transition-duration: 2s;
      }

.dragon:hover {
        width: 300px;
        height: 300px;
        }
.nomo {
    width: 100px;
    height: 100px;
    transition: transform 2s;
  }
.nomo:hover {
   transform: rotate(360deg);
  }

.buenos {
animation-name: left-right;
animation-duration: 5s;
position: relative;
}

@keyframes left-right {
    0% {left:0px;}
    100% {left:100px;}
}
